$fontFamily: "Nunito";
$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1330px;
$safePadding: 14px;

$white: #fff;
$beige: #c1ab91;
$dark: #2c2826;
$orange: #ff8a00;
$light: #fbf3e8;

$fontSize: 20px;
$lineHeight: 1.4;
